
  <style> @import url('https://fonts.googleapis.com/css?family=Acme:400&display=swap'); </style>
  <style> .gps-510055268118168378 .gp-relative{position:relative}.gps-510055268118168378 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-510055268118168378 .gp-mb-0{margin-bottom:0}.gps-510055268118168378 .\!gp-inline{display:inline!important}.gps-510055268118168378 .gp-flex{display:flex}.gps-510055268118168378 .gp-grid{display:grid}.gps-510055268118168378 .\!gp-hidden{display:none!important}.gps-510055268118168378 .gp-hidden{display:none}.gps-510055268118168378 .gp-h-full{height:100%}.gps-510055268118168378 .gp-w-full{width:100%}.gps-510055268118168378 .gp-max-w-full{max-width:100%}.gps-510055268118168378 .gp-flex-col{flex-direction:column}.gps-510055268118168378 .gp-gap-y-0{row-gap:0}.gps-510055268118168378 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-510055268118168378 .gp-duration-200{transition-duration:.2s}.gps-510055268118168378 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-510055268118168378 .tablet\:\!gp-hidden{display:none!important}.gps-510055268118168378 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-510055268118168378 .mobile\:\!gp-hidden{display:none!important}.gps-510055268118168378 .mobile\:gp-hidden{display:none}}.gps-510055268118168378 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-510055268118168378 .\[\&_p\]\:gp-inline p{display:inline}.gps-510055268118168378 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-510055268118168378 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gcepxmfBlu"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:100px;--pl:60px;--pb:0px;--pr:60px;--pt-mobile:var(--g-s-s);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-s);--pr-mobile:0px;--pt-tablet:var(--g-s-4xl);--pl-tablet:var(--g-s-2xl);--pb-tablet:8px;--pr-tablet:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#281B3C;--bgc-mobile:#281B3C;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcepxmfBlu gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gOWgABf_Da gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g-mX19IQwM "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:80px;--size-tablet:56px;--size-mobile:46px;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;overflow:hidden"
        >You will learn</h2>
      </div>
    </div>
      <style
        id="custom-css-g-mX19IQwM"
      >.g-mX19IQwM * {
font-family: PPAcma-Black !important;
}</style>
    
      
      
    <div
      parentTag="Col" id="gqqwWOU5_x"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqqwWOU5_x gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gxewhDbe1H gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gQ5_AkMgje"
        style="--mb:0px;--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-xl);--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-l);--pb-mobile:0px;--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#BFEFE6;--bgc-mobile:#BFEFE6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQ5_AkMgje gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gaWtnl7OBu gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gFF-7Ul65c "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:30px;--size-tablet:56px;--size-mobile:46px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;overflow:hidden"
        >How to&nbsp;introduce yourself in the best way</h2>
      </div>
    </div>
      <style
        id="custom-css-gFF-7Ul65c"
      >.gFF-7Ul65c * {
font-family: PPAcma-Black !important;
}</style>
    <div
    
    role="presentation"
    class="gp-group/image gZQ81S-38i"
    style="--mb-tablet:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-8ab37319-4357-4e40-af95-5fd9c84f4ef8.png" | file_url }}" srcset="{{ '505533768308622442-8ab37319-4357-4e40-af95-5fd9c84f4ef8.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-8ab37319-4357-4e40-af95-5fd9c84f4ef8.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-8ab37319-4357-4e40-af95-5fd9c84f4ef8.png' | file_img_url: 'master' }} 1440w" width="360" height="405" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:360/405;--aspect-tablet:360/405;--aspect-mobile:360/405;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-8ab37319-4357-4e40-af95-5fd9c84f4ef8.png" | file_url }}" data-srcset="{{ '505533768308622442-8ab37319-4357-4e40-af95-5fd9c84f4ef8.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-8ab37319-4357-4e40-af95-5fd9c84f4ef8.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-8ab37319-4357-4e40-af95-5fd9c84f4ef8.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="360" height="405" alt="Alt image"
      sizes="100vw"
      style="--aspect:360/405;--aspect-tablet:360/405;--aspect-mobile:360/405;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gZQ81S-38i"
      >.gZQ81S-38i {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gQ5_AkMgje"
      >.gQ5_AkMgje {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gLuyhpMhMG gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gHzNkELTTg"
        style="--pt:24px;--pl:24px;--pb:var(--g-s-xl);--pr:24px;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-l);--pb-mobile:0px;--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#E6EDBD;--bgc-mobile:#BFEFE6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHzNkELTTg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gXo8rpiFbn gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gpASe4ziBo "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:30px;--size-tablet:56px;--size-mobile:46px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;overflow:hidden"
        >Charm people with warm compliments</h2>
      </div>
    </div>
      <style
        id="custom-css-gpASe4ziBo"
      >.gpASe4ziBo * {
font-family: PPAcma-Black !important;
}</style>
    <div
    
    role="presentation"
    class="gp-group/image gkX4vWUKgi"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-da175209-e5d7-4b0b-b25f-d4ab49dc1fc9.png" | file_url }}" srcset="{{ '505533768308622442-da175209-e5d7-4b0b-b25f-d4ab49dc1fc9.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-da175209-e5d7-4b0b-b25f-d4ab49dc1fc9.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-da175209-e5d7-4b0b-b25f-d4ab49dc1fc9.png' | file_img_url: 'master' }} 1440w" width="360" height="405" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:360/405;--aspect-tablet:360/405;--aspect-mobile:360/405;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-da175209-e5d7-4b0b-b25f-d4ab49dc1fc9.png" | file_url }}" data-srcset="{{ '505533768308622442-da175209-e5d7-4b0b-b25f-d4ab49dc1fc9.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-da175209-e5d7-4b0b-b25f-d4ab49dc1fc9.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-da175209-e5d7-4b0b-b25f-d4ab49dc1fc9.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="360" height="405" alt="Alt image"
      sizes="100vw"
      style="--aspect:360/405;--aspect-tablet:360/405;--aspect-mobile:360/405;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gkX4vWUKgi"
      >.gkX4vWUKgi {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gHzNkELTTg"
      >.gHzNkELTTg {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g04gBi5-eO gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gWJNq9hS5f"
        style="--pt:24px;--pl:24px;--pb:var(--g-s-xl);--pr:24px;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-l);--pb-mobile:0px;--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EDBDDA;--bgc-mobile:#BFEFE6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWJNq9hS5f gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g5mRaX5Twl gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gCYvz90Nqs "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:30px;--size-tablet:56px;--size-mobile:46px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;overflow:hidden"
        ><p>How to&nbsp;answer  in&nbsp;daily situations</p></h2>
      </div>
    </div>
      <style
        id="custom-css-gCYvz90Nqs"
      >.gCYvz90Nqs * {
font-family: PPAcma-Black !important;
}</style>
    <div
    
    role="presentation"
    class="gp-group/image gWzdHM3QRJ"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-7e6d1981-3f9a-4658-ab54-78cd69292660.png" | file_url }}" srcset="{{ '505533768308622442-7e6d1981-3f9a-4658-ab54-78cd69292660.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-7e6d1981-3f9a-4658-ab54-78cd69292660.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-7e6d1981-3f9a-4658-ab54-78cd69292660.png' | file_img_url: 'master' }} 1440w" width="360" height="405" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:360/405;--aspect-tablet:360/405;--aspect-mobile:360/405;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-7e6d1981-3f9a-4658-ab54-78cd69292660.png" | file_url }}" data-srcset="{{ '505533768308622442-7e6d1981-3f9a-4658-ab54-78cd69292660.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-7e6d1981-3f9a-4658-ab54-78cd69292660.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-7e6d1981-3f9a-4658-ab54-78cd69292660.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="360" height="405" alt="Alt image"
      sizes="100vw"
      style="--aspect:360/405;--aspect-tablet:360/405;--aspect-mobile:360/405;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gWzdHM3QRJ"
      >.gWzdHM3QRJ {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gWJNq9hS5f"
      >.gWJNq9hS5f {

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="ggG-NYBL-6 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g-hjssiwje"
        style="--pt:24px;--pl:24px;--pb:var(--g-s-xl);--pr:24px;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-l);--pb-mobile:0px;--pr-mobile:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F4D88E;--bgc-mobile:#BFEFE6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-hjssiwje gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g-pKmy_wKQ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gMdu0QcRlh "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:30px;--size-tablet:56px;--size-mobile:46px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;overflow:hidden"
        ><p>Send messages  that I&nbsp;would reply to</p></h2>
      </div>
    </div>
      <style
        id="custom-css-gMdu0QcRlh"
      >.gMdu0QcRlh * {
font-family: PPAcma-Black !important;
}</style>
    <div
    
    role="presentation"
    class="gp-group/image gXuIwt0WRy"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-1d05dbee-11b7-4caa-8a28-2cf1393104ff.png" | file_url }}" srcset="{{ '505533768308622442-1d05dbee-11b7-4caa-8a28-2cf1393104ff.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-1d05dbee-11b7-4caa-8a28-2cf1393104ff.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-1d05dbee-11b7-4caa-8a28-2cf1393104ff.png' | file_img_url: 'master' }} 1440w" width="360" height="405" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:360/405;--aspect-tablet:360/405;--aspect-mobile:360/405;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-1d05dbee-11b7-4caa-8a28-2cf1393104ff.png" | file_url }}" data-srcset="{{ '505533768308622442-1d05dbee-11b7-4caa-8a28-2cf1393104ff.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-1d05dbee-11b7-4caa-8a28-2cf1393104ff.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-1d05dbee-11b7-4caa-8a28-2cf1393104ff.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="360" height="405" alt="Alt image"
      sizes="100vw"
      style="--aspect:360/405;--aspect-tablet:360/405;--aspect-mobile:360/405;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
      <style
        id="custom-css-gXuIwt0WRy"
      >.gXuIwt0WRy {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-g-hjssiwje"
      >.g-hjssiwje {


}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 6",
      "tag": "section",
      "class": "gps-510055268118168378 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/22a886-0f/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=509590835017286829&sectionId=510055268118168378)"
        },
        {
          "type": "text",
          "label": "section_preload",
          "id": "section_preload",
          "default": "false"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
