
  <style> @import url('https://fonts.googleapis.com/css?family=Acme:400|Atomic+Age:400|Farro:400,700|Assistant:400&display=swap'); </style>
  <style> .gps-509590835185058989 .gp-invisible{visibility:hidden}.gps-509590835185058989 .gp-absolute{position:absolute}.gps-509590835185058989 .gp-relative{position:relative}.gps-509590835185058989 .gp-z-1{z-index:1}.gps-509590835185058989 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509590835185058989 .gp-mb-0{margin-bottom:0}.gps-509590835185058989 .\!gp-inline{display:inline!important}.gps-509590835185058989 .gp-flex{display:flex}.gps-509590835185058989 .gp-inline-flex{display:inline-flex}.gps-509590835185058989 .gp-grid{display:grid}.gps-509590835185058989 .\!gp-hidden{display:none!important}.gps-509590835185058989 .gp-hidden{display:none}.gps-509590835185058989 .gp-h-5{height:20px}.gps-509590835185058989 .gp-h-full{height:100%}.gps-509590835185058989 .gp-w-5{width:20px}.gps-509590835185058989 .gp-w-full{width:100%}.gps-509590835185058989 .gp-max-w-full{max-width:100%}.gps-509590835185058989 .gp-flex-col{flex-direction:column}.gps-509590835185058989 .gp-items-center{align-items:center}.gps-509590835185058989 .gp-justify-center{justify-content:center}.gps-509590835185058989 .gp-gap-y-0{row-gap:0}.gps-509590835185058989 .gp-overflow-hidden{overflow:hidden}.gps-509590835185058989 .gp-break-words{overflow-wrap:break-word}.gps-509590835185058989 .gp-rounded-none{border-radius:0}.gps-509590835185058989 .gp-text-center{text-align:center}.gps-509590835185058989 .gp-no-underline{text-decoration-line:none}.gps-509590835185058989 .gp-decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-509590835185058989 .gp-opacity-25{opacity:.25}.gps-509590835185058989 .gp-opacity-75{opacity:.75}.gps-509590835185058989 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509590835185058989 .gp-duration-200{transition-duration:.2s}.gps-509590835185058989 .gp-duration-300{transition-duration:.3s}.gps-509590835185058989 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509590835185058989 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-509590835185058989 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-509590835185058989 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-509590835185058989 .data-\[hidden\=true\]\:gp-hidden[data-hidden=true]{display:none}.gps-509590835185058989 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-509590835185058989 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-509590835185058989 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-509590835185058989 .tablet\:\!gp-hidden{display:none!important}.gps-509590835185058989 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509590835185058989 .mobile\:\!gp-hidden{display:none!important}.gps-509590835185058989 .mobile\:gp-hidden{display:none}}.gps-509590835185058989 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-509590835185058989 .\[\&_p\]\:gp-inline p{display:inline}.gps-509590835185058989 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-509590835185058989 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-509590835185058989 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="glFl72Nck0"
        style="--pt:var(--g-s-s);--pl:var(--g-s-l);--pb:var(--g-s-s);--pr:var(--g-s-l);--mt-mobile:var(--g-s-s);--mb-mobile:var(--g-s-s);--pt-mobile:var(--g-s-s);--pl-mobile:var(--g-s-s);--pb-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--d:grid;--d-tablet:grid;--d-mobile:none;--b:solid;--bc:#121212;--bw:0px;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#281B3C;--bgc-tablet:#F4D88E;--bgc-mobile:#F4D88E;--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-tablet:scroll;--bga-mobile:scroll"
        class="glFl72Nck0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gval0ukUfd gp-relative gp-flex gp-flex-col"
    >
      
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if '8753744314698' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['english-as-a-habit-course']
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products
                      if item.id == '8753744314698'
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if '8753744314698' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['english-as-a-habit-course']
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == '8753744314698'
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId = 47874859237706 -%}
      {%- assign product_form_id = 'product-form-' | append: "gX5oZS3Lf-" -%}
      {%- assign variant = product.variants | where: 'id', initVariantId | first -%}
      {%- assign productSelectedVariant = product.variants | where: 'id', initVariantId | first -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product class="" gp-context='{"productId": {{ product.id }}, "isSyncProduct": "true", "variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
      
      
    <div
      id
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--mb:0px;--mb-mobile:0px;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g-2xzT5dSg gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g84dCcEWg9"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--pt:var(--g-s-4xl);--pl:var(--g-s-3xl);--pb:var(--g-s-4xl);--pr:var(--g-s-3xl);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F4D88E;--bgc-mobile:#F4D88E;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="g84dCcEWg9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gnglcVY65p gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gWQx95qDQX"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--pt:var(--g-s-3xl);--pl:0px;--pb:var(--g-s-4xl);--pr:0px;--mt-mobile:var(--g-s-2xl);--ml-mobile:auto;--mb-mobile:var(--g-s-2xl);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgc-mobile:#F4D88E;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gWQx95qDQX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gr3KofF_lS gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gu4e37i6Th"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:0px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gu4e37i6Th gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:end"
      class="gRMzVbXn3F gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gJq-sh7RiB "
        style="--ta:center;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--mb:38px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:80%;--w-tablet:80%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:70px;--size-tablet:56px;--size-mobile:30px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;overflow:hidden"
        >Start Your Journey To Become An English Hero</h2>
      </div>
    </div>
      <style
        id="custom-css-gJq-sh7RiB"
      >.gJq-sh7RiB * {
font-family: PPAcma-Black !important;
}</style>
    
      
      
    <div
      parentTag="Col" id="gPzuxeIlS3"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:16px;--pc:start;--gtc:minmax(0, 9fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 7fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 8fr) minmax(0, 4fr);--w:320px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgc-mobile:#F4D88E;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gPzuxeIlS3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="g2zvNlEL10 gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        gp-data='{"priceType":"regular","uid":"gfnwqXxu7r","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        class=" data-[hidden=true]:gp-hidden"
        style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%;--animation:[object Object]"
        data-hidden="false"
      >
        
    <div
      id="p-price-gfnwqXxu7r"
        class=" "
        style=""
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-money gp-decoration-g-text-1"
          style="--w:100%;--tdc:text-1;--tdt:1;--ta:right;--c:#281B3C;--ff:var(--g-font-Atomic-Age, 'Atomic Age'), var(--g-font-heading, heading);--weight:400;--lh:130%;--size:46px;--size-tablet:46px;--size-mobile:40px;word-break:break-word;overflow:hidden"
        >
                  {% if variant.price %}
                    {{ variant.price | money}}
                  {% endif %}
                </div>
      </div>
    </div>
      </gp-product-price>
      <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      <style
        id="custom-css-gfnwqXxu7r"
      >.gfnwqXxu7r {
font-family: FaroDisplayVariableTrial !important;

}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gbUFBzKYq_ gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gRQVBSZHif"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-6931274e-44f2-4b86-9768-f4c0f2e2e7ba.png" | file_url }}" srcset="{{ '505533768308622442-6931274e-44f2-4b86-9768-f4c0f2e2e7ba.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-6931274e-44f2-4b86-9768-f4c0f2e2e7ba.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-6931274e-44f2-4b86-9768-f4c0f2e2e7ba.png' | file_img_url: 'master' }} 1440w" width="197" height="193" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:197/193;--aspect-tablet:197/193;--aspect-mobile:197/193;--objf:cover;--w:60px;--w-tablet:60px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-6931274e-44f2-4b86-9768-f4c0f2e2e7ba.png" | file_url }}" data-srcset="{{ '505533768308622442-6931274e-44f2-4b86-9768-f4c0f2e2e7ba.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-6931274e-44f2-4b86-9768-f4c0f2e2e7ba.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-6931274e-44f2-4b86-9768-f4c0f2e2e7ba.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="197" height="193" alt="Alt image"
      sizes="100vw"
      style="--aspect:197/193;--aspect-tablet:197/193;--aspect-mobile:197/193;--objf:cover;--w:60px;--w-tablet:60px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="gB9y3GLQk0 "
        style="--ta:center;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:40px;--mb-tablet:22px;--mb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:80%;--w-tablet:80%;--w-mobile:80%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:46px;--size-tablet:28px;--size-mobile:24px;--c:rgba(40, 27, 60, 0.3);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>€299 - in 3 days</p></div>
      </div>
    </div>
      <style
        id="custom-css-gB9y3GLQk0"
      >.gB9y3GLQk0 * {
font-family: FaroDisplayVariableTrial !important;
}</style>
    
      
      
    <div
      parentTag="Col" id="gdQBOyqy8H"
        style="--ml:auto;--pl:var(--g-s-xl);--ml-tablet:auto;--pl-tablet:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:24px;--cg-tablet:16px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:900px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdQBOyqy8H gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g4YOEHdRwc gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gguvu0ws_g "
        style="--ta:center;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-tablet:22px;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:150%;--size:18px;--size-tablet:18px;--size-mobile:14px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>✔️ 4 Live Lessons with Miss English Teacher<br>✔️ 4 Speaking Sessions with A Native Speaker</p></div>
      </div>
    </div>
      <style
        id="custom-css-gguvu0ws_g"
      >.gguvu0ws_g * {
font-family: FaroDisplayVariableTrial !important;
}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gBzEG8tACn gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g8nfbBQCiB "
        style="--ta:center;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-tablet:22px;--mb-mobile:30px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:150%;--size:18px;--size-tablet:18px;--size-mobile:14px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>✔️ 20+ Special Daily Activities</p><p>✔️ Survey to Find Your Learner Type</p></div>
      </div>
    </div>
      <style
        id="custom-css-g8nfbBQCiB"
      >.g8nfbBQCiB * {
font-family: FaroDisplayVariableTrial !important;
}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
  <gp-button style="">
  <div
    
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:var(--g-s-3xl);--mr:0px;--pr:0px;--mt-mobile:0px;--mr-mobile:0px;--pr-mobile:0px;--mt-tablet:var(--g-s-l);--mr-tablet:0px;--pr-tablet:0px;--ta:center;--ta-mobile:center"
    class=""
  >
    <style>
    .gGO4wlBJIr.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
      border-top-left-radius: 60px;
      border-top-right-radius: 60px;
      
    }

    .gGO4wlBJIr:hover::before {
      
      
    }
  </style>
    <a
      href="https://22a886-0f.myshopify.com/cart/47874859237706:1?channel=buy_button" target="_blank" data-id="gGO4wlBJIr" aria-label="Buy Now for €199"
      
      data-state="idle"
      class="gGO4wlBJIr gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:rgba(40, 27, 60, 0.8);--bg:#281B3C;--bblr:60px;--bbrr:60px;--btlr:60px;--btrr:60px;--shadow:none;--c:#F4D88E;--w:250px;--w-tablet:250px;--w-mobile:250px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--lh:260%;--size:20px;--size-tablet:16px;--size-mobile:18px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gGO4wlBJIr_label }}
      </span>
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
    
      <style
        id="custom-css-gWQx95qDQX"
      >.gWQx95qDQX {

}</style>
    
    </div>
    </div>
  
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start;--d-mobile:none"
      class="g5-tSQuf1J gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ "gempages.Product.product_not_found" | t }}</div>
    {%- endif -%}
  
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 0",
      "tag": "section",
      "class": "gps-509590835185058989 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/22a886-0f/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=509590835017286829&sectionId=509590835185058989)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
