
  
  <style> .gps-510041190205228205 .gp-relative{position:relative}.gps-510041190205228205 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-510041190205228205 .gp-mb-0{margin-bottom:0}.gps-510041190205228205 .\!gp-inline{display:inline!important}.gps-510041190205228205 .gp-flex{display:flex}.gps-510041190205228205 .gp-grid{display:grid}.gps-510041190205228205 .\!gp-hidden{display:none!important}.gps-510041190205228205 .gp-hidden{display:none}.gps-510041190205228205 .gp-h-full{height:100%}.gps-510041190205228205 .gp-w-full{width:100%}.gps-510041190205228205 .gp-max-w-full{max-width:100%}.gps-510041190205228205 .gp-flex-col{flex-direction:column}.gps-510041190205228205 .gp-gap-y-0{row-gap:0}.gps-510041190205228205 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-510041190205228205 .gp-duration-200{transition-duration:.2s}.gps-510041190205228205 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-510041190205228205 .tablet\:\!gp-hidden{display:none!important}.gps-510041190205228205 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-510041190205228205 .mobile\:\!gp-hidden{display:none!important}.gps-510041190205228205 .mobile\:gp-hidden{display:none}}.gps-510041190205228205 .\[\&_\*\]\:gp-max-w-full *{max-width:100%} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gdqd-3MtxU"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-s);--pr:var(--g-s-l);--pt-mobile:var(--g-s-4xl);--pl-mobile:var(--g-s-s);--pb-mobile:var(--g-s-4xl);--pr-mobile:var(--g-s-s);--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:8px;--pr-tablet:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#EDBDDA;--bgc-mobile:#281B3C;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdqd-3MtxU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gS8xAIV_5V gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gI-ggMe5T2"
    style="--mb-mobile:var(--g-s-l);--pt-mobile:var(--g-s-2xl);--pl-mobile:var(--g-s-2xl);--pb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-2xl);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-0a238681-9042-418f-99c0-6ccbe507ac0f.png" | file_url }}" srcset="{{ '505533768308622442-0a238681-9042-418f-99c0-6ccbe507ac0f.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-0a238681-9042-418f-99c0-6ccbe507ac0f.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-0a238681-9042-418f-99c0-6ccbe507ac0f.png' | file_img_url: 'master' }} 1440w" width="650" height="1220" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:650/1220;--aspect-tablet:650/1220;--aspect-mobile:650/1220;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-0a238681-9042-418f-99c0-6ccbe507ac0f.png" | file_url }}" data-srcset="{{ '505533768308622442-0a238681-9042-418f-99c0-6ccbe507ac0f.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-0a238681-9042-418f-99c0-6ccbe507ac0f.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-0a238681-9042-418f-99c0-6ccbe507ac0f.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="650" height="1220" alt="Alt image"
      sizes="100vw"
      style="--aspect:650/1220;--aspect-tablet:650/1220;--aspect-mobile:650/1220;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 2",
      "tag": "section",
      "class": "gps-510041190205228205 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/22a886-0f/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=509590835017286829&sectionId=510041190205228205)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
