
  <style> @import url('https://fonts.googleapis.com/css?family=Acme:400|Farro:400,700&display=swap'); </style>
  <style> .gps-510009831441040557 .gp-relative{position:relative}.gps-510009831441040557 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-510009831441040557 .gp-mb-0{margin-bottom:0}.gps-510009831441040557 .\!gp-inline{display:inline!important}.gps-510009831441040557 .gp-flex{display:flex}.gps-510009831441040557 .gp-grid{display:grid}.gps-510009831441040557 .\!gp-hidden{display:none!important}.gps-510009831441040557 .gp-hidden{display:none}.gps-510009831441040557 .gp-h-full{height:100%}.gps-510009831441040557 .gp-w-full{width:100%}.gps-510009831441040557 .gp-max-w-full{max-width:100%}.gps-510009831441040557 .gp-flex-col{flex-direction:column}.gps-510009831441040557 .gp-gap-y-0{row-gap:0}.gps-510009831441040557 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-510009831441040557 .gp-duration-200{transition-duration:.2s}.gps-510009831441040557 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-510009831441040557 .tablet\:\!gp-hidden{display:none!important}.gps-510009831441040557 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-510009831441040557 .mobile\:\!gp-hidden{display:none!important}.gps-510009831441040557 .mobile\:gp-hidden{display:none}}.gps-510009831441040557 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-510009831441040557 .\[\&_p\]\:gp-inline p{display:inline}.gps-510009831441040557 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-510009831441040557 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="ga0oI7UGRn"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-s);--pl:var(--g-s-l);--pb:var(--g-s-s);--pr:var(--g-s-l);--pt-mobile:var(--g-s-s);--pl-mobile:var(--g-s-s);--pb-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--pt-tablet:8px;--pl-tablet:var(--g-s-l);--pb-tablet:8px;--pr-tablet:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#281B3C;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ga0oI7UGRn gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjujJd8tkz gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g4Ed65eqSp"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--pt:var(--g-s-4xl);--pl:var(--g-s-3xl);--pb:100px;--pr:var(--g-s-3xl);--mb-mobile:0px;--pt-mobile:60px;--pl-mobile:var(--g-s-3xl);--pb-mobile:var(--g-s-4xl);--pr-mobile:var(--g-s-3xl);--mb-tablet:0px;--pt-tablet:60px;--pl-tablet:var(--g-s-3xl);--pb-tablet:80px;--pr-tablet:var(--g-s-3xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EDBDDA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4Ed65eqSp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gvpzIdeNtE gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gCpptIV22- "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--mb:var(--g-s-3xl);--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:70px;--size-tablet:56px;--size-mobile:40px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;overflow:hidden"
        >You will get</h2>
      </div>
    </div>
      <style
        id="custom-css-gCpptIV22-"
      >.gCpptIV22- * {
font-family: PPAcma-Black !important;
}</style>
    
      
      
    <div
      parentTag="Col" id="gViCeJVky3"
        style="--mb:var(--g-s-xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:24px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gViCeJVky3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gtTal3pv4I gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gPVhiov95Q"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--ml:auto;--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPVhiov95Q gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtSJCd0l6F gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g9K6v89XIk "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--mb:25px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:70px;--size-tablet:56px;--size-mobile:40px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;overflow:hidden"
        >2</h2>
      </div>
    </div>
      <style
        id="custom-css-g9K6v89XIk"
      >.g9K6v89XIk * {
font-family: PPAcma-Black !important;
}</style>
    
    <div
      parentTag="Col"
        class="gb96H-Bk5t "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:17px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:20px;--size-tablet:18px;--size-mobile:24px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        ><p>video messages from Miss English Teacher every day</p></div>
      </div>
    </div>
      <style
        id="custom-css-gb96H-Bk5t"
      >.gb96H-Bk5t {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gPVhiov95Q"
      >.gPVhiov95Q {

    transform: rotate(0deg);
}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g8xHWURXAv gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gMa5yj2J_N"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--ml:auto;--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMa5yj2J_N gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gR2bEoO3wV gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g5TwsS-nKI "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--mb:25px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:70px;--size-tablet:56px;--size-mobile:40px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;overflow:hidden"
        >6</h2>
      </div>
    </div>
      <style
        id="custom-css-g5TwsS-nKI"
      >.g5TwsS-nKI * {
font-family: PPAcma-Black !important;
}</style>
    
    <div
      parentTag="Col"
        class="gGmwmHm-47 "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:17px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:20px;--size-tablet:18px;--size-mobile:24px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        ><p>engaging practice activities that our brilliant tutors check</p></div>
      </div>
    </div>
      <style
        id="custom-css-gGmwmHm-47"
      >.gGmwmHm-47 {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gMa5yj2J_N"
      >.gMa5yj2J_N {

    transform: rotate(0deg);
}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g59loF2v0c gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gIyVFIc5vI"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--ml:auto;--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIyVFIc5vI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5r2tr9udS gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gwuykcJy5N "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--mb:25px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:70px;--size-tablet:56px;--size-mobile:40px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;overflow:hidden"
        >6</h2>
      </div>
    </div>
      <style
        id="custom-css-gwuykcJy5N"
      >.gwuykcJy5N * {
font-family: PPAcma-Black !important;
}</style>
    
    <div
      parentTag="Col"
        class="gK_EPc2wog "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:17px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:20px;--size-tablet:18px;--size-mobile:24px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        ><p>topics to enhance your private conversations</p></div>
      </div>
    </div>
      <style
        id="custom-css-gK_EPc2wog"
      >.gK_EPc2wog {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gIyVFIc5vI"
      >.gIyVFIc5vI {

    transform: rotate(0deg);
}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gkRYD214s- gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gseyuO5Xar"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--ml:auto;--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gseyuO5Xar gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gK_I9x3W7X gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gKeSS_xtpW "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--mb:25px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:70px;--size-tablet:56px;--size-mobile:40px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;overflow:hidden"
        >1</h2>
      </div>
    </div>
      <style
        id="custom-css-gKeSS_xtpW"
      >.gKeSS_xtpW * {
font-family: PPAcma-Black !important;
}</style>
    
    <div
      parentTag="Col"
        class="gmgOeYaBdI "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:17px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:20px;--size-tablet:18px;--size-mobile:24px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        ><p>1 month of free access to my new app</p><p>&nbsp;</p></div>
      </div>
    </div>
      <style
        id="custom-css-gmgOeYaBdI"
      >.gmgOeYaBdI {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gseyuO5Xar"
      >.gseyuO5Xar {

    transform: rotate(0deg);
}</style>
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gSQM3zfMp3"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:24px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSQM3zfMp3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gTS4SlOvsN gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gbvao-e6bO"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--ml:auto;--pt:var(--g-s-xs);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbvao-e6bO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_6dQr-Kyl gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gInnHrAF_m "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--mb:25px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:70px;--size-tablet:56px;--size-mobile:40px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;overflow:hidden"
        >+</h2>
      </div>
    </div>
      <style
        id="custom-css-gInnHrAF_m"
      >.gInnHrAF_m * {
font-family: PPAcma-Black !important;
}</style>
    
    <div
      parentTag="Col"
        class="gZKM7JltHo "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:17px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:20px;--size-tablet:18px;--size-mobile:20px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        ><p>A warm welcome to an exclusive live session with me</p><p>&nbsp;</p></div>
      </div>
    </div>
      <style
        id="custom-css-gZKM7JltHo"
      >.gZKM7JltHo {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gbvao-e6bO"
      >.gbvao-e6bO {

    transform: rotate(0deg);
}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gnvo83SMld gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g5gAv7wQ4S"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--ml:auto;--pt:var(--g-s-xs);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5gAv7wQ4S gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guuafoSWg2 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gd904_N3CZ "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--mb:25px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:70px;--size-tablet:56px;--size-mobile:40px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;overflow:hidden"
        >+</h2>
      </div>
    </div>
      <style
        id="custom-css-gd904_N3CZ"
      >.gd904_N3CZ * {
font-family: PPAcma-Black !important;
}</style>
    
    <div
      parentTag="Col"
        class="g74ShTiN3d "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:17px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:20px;--size-tablet:18px;--size-mobile:24px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        ><p>Graduation event with a speaking session + a chance to speak with me</p></div>
      </div>
    </div>
      <style
        id="custom-css-g74ShTiN3d"
      >.g74ShTiN3d {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-g5gAv7wQ4S"
      >.g5gAv7wQ4S {

    transform: rotate(0deg);
}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gHt9LjqPNN gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gffKFkguI0"
    style="--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png" | file_url }}" srcset="{{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: 'master' }} 1440w" width="297" height="297" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:297/297;--aspect-tablet:297/297;--aspect-mobile:297/297;--objf:cover;--w:240px;--w-tablet:240px;--w-mobile:240px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png" | file_url }}" data-srcset="{{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="297" height="297" alt="Alt image"
      sizes="100vw"
      style="--aspect:297/297;--aspect-tablet:297/297;--aspect-mobile:297/297;--objf:cover;--w:240px;--w-tablet:240px;--w-mobile:240px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gYCJxilDbS gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gKsuO7vQdC"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--ml:auto;--pt:var(--g-s-xs);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKsuO7vQdC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqZFHHRXBO gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g0iHLKs-cJ "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--mb:25px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:70px;--size-tablet:56px;--size-mobile:40px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;overflow:hidden"
        >+</h2>
      </div>
    </div>
      <style
        id="custom-css-g0iHLKs-cJ"
      >.g0iHLKs-cJ * {
font-family: PPAcma-Black !important;
}</style>
    
    <div
      parentTag="Col"
        class="gyo0zHHWuz "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:17px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:20px;--size-tablet:18px;--size-mobile:20px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        ><p>Daily vocabulary for each topic</p><p>&nbsp;</p><p>&nbsp;</p></div>
      </div>
    </div>
      <style
        id="custom-css-gyo0zHHWuz"
      >.gyo0zHHWuz {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gKsuO7vQdC"
      >.gKsuO7vQdC {

    transform: rotate(0deg);
}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 0",
      "tag": "section",
      "class": "gps-510009831441040557 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/22a886-0f/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=509590835017286829&sectionId=510009831441040557)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
