
  <style> @import url('https://fonts.googleapis.com/css?family=Acme:400|Farro:400,700|Assistant:400&display=swap'); </style>
  <style> .gps-509590835185124525 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-509590835185124525 .gp-invisible{visibility:hidden}.gps-509590835185124525 .gp-absolute{position:absolute}.gps-509590835185124525 .gp-relative{position:relative}.gps-509590835185124525 .gp-z-1{z-index:1}.gps-509590835185124525 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509590835185124525 .gp-mb-0{margin-bottom:0}.gps-509590835185124525 .gp-block{display:block}.gps-509590835185124525 .\!gp-inline{display:inline!important}.gps-509590835185124525 .gp-flex{display:flex}.gps-509590835185124525 .gp-inline-flex{display:inline-flex}.gps-509590835185124525 .gp-grid{display:grid}.gps-509590835185124525 .\!gp-hidden{display:none!important}.gps-509590835185124525 .gp-hidden{display:none}.gps-509590835185124525 .gp-h-5{height:20px}.gps-509590835185124525 .gp-h-full{height:100%}.gps-509590835185124525 .gp-w-5{width:20px}.gps-509590835185124525 .gp-w-full{width:100%}.gps-509590835185124525 .gp-max-w-full{max-width:100%}.gps-509590835185124525 .gp-flex-none{flex:none}.gps-509590835185124525 .gp-flex-col{flex-direction:column}.gps-509590835185124525 .gp-items-center{align-items:center}.gps-509590835185124525 .gp-justify-start{justify-content:flex-start}.gps-509590835185124525 .gp-justify-center{justify-content:center}.gps-509590835185124525 .gp-gap-y-0{row-gap:0}.gps-509590835185124525 .gp-overflow-hidden{overflow:hidden}.gps-509590835185124525 .gp-break-words{overflow-wrap:break-word}.gps-509590835185124525 .gp-rounded-none{border-radius:0}.gps-509590835185124525 .gp-no-underline{text-decoration-line:none}.gps-509590835185124525 .gp-opacity-25{opacity:.25}.gps-509590835185124525 .gp-opacity-75{opacity:.75}.gps-509590835185124525 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509590835185124525 .gp-duration-200{transition-duration:.2s}.gps-509590835185124525 .gp-duration-300{transition-duration:.3s}.gps-509590835185124525 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509590835185124525 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-509590835185124525 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-509590835185124525 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-509590835185124525 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-509590835185124525 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-509590835185124525 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-509590835185124525 .tablet\:gp-block{display:block}.gps-509590835185124525 .tablet\:\!gp-hidden{display:none!important}.gps-509590835185124525 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509590835185124525 .mobile\:gp-block{display:block}.gps-509590835185124525 .mobile\:\!gp-hidden{display:none!important}.gps-509590835185124525 .mobile\:gp-hidden{display:none}.gps-509590835185124525 .mobile\:gp-justify-center{justify-content:center}}.gps-509590835185124525 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-509590835185124525 .\[\&_p\]\:gp-inline p{display:inline}.gps-509590835185124525 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-509590835185124525 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-509590835185124525 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gnb1WWOnik"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-s);--pl:60px;--pb:var(--g-s-s);--pr:60px;--pt-mobile:var(--g-s-s);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-4xl);--pr-mobile:var(--g-s-l);--pt-tablet:8px;--pl-tablet:var(--g-s-2xl);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#281B3C;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnb1WWOnik gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gO3Az-yti1 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gVSQrl5RaB"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--pt:var(--g-s-3xl);--pl:var(--g-s-3xl);--pb:var(--g-s-3xl);--pr:var(--g-s-3xl);--mb-mobile:0px;--pt-mobile:var(--g-s-2xl);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#E6EDBD;--bgc-mobile:#E6EDBD;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVSQrl5RaB gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gyMvM9TJVj gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gmFkQmW3eR "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-m);--pt-mobile:0px;--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-s);--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:80px;--size-tablet:56px;--size-mobile:46px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;overflow:hidden"
        >You will get</h2>
      </div>
    </div>
      <style
        id="custom-css-gmFkQmW3eR"
      >.gmFkQmW3eR * {
font-family: PPAcma-Black !important;
}</style>
    
    <div
      parentTag="Col"
        class="gh9d4c57hQ "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:130%;--size:22px;--size-tablet:20px;--size-mobile:18px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>A warm welcome to an exclusive live&nbsp;session with me</p></div>
      </div>
    </div>
      <style
        id="custom-css-gh9d4c57hQ"
      >.gh9d4c57hQ * {
font-family: FaroDisplayVariableTrial !important;
}</style>
    <div style="--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--mb-mobile:0px;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]" class="g8d0xpLdTu ">
      
    <div
      class="gp-flex gp-justify-start mobile:gp-justify-center"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:dotted;--bs-mobile:dotted;--bbw:3px;--bbw-tablet:1px;--bbw-mobile:3px;--t:gp-rotate(0deg);--bc:rgba(40, 27, 60, 0.15)"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:rgba(40, 27, 60, 0.15);--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:rgba(40, 27, 60, 0.15);--bs:dotted;--bs-mobile:dotted;--bbw:3px;--bbw-tablet:1px;--bbw-mobile:3px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:rgba(40, 27, 60, 0.15);--bs:dotted;--bs-mobile:dotted;--bbw:3px;--bbw-tablet:1px;--bbw-mobile:3px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    <div
      parentTag="Col"
        class="gD0zlIoSu5 "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:130%;--size:22px;--size-tablet:20px;--size-mobile:18px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>12 video messages from me sent privately to your messenger</p></div>
      </div>
    </div>
      <style
        id="custom-css-gD0zlIoSu5"
      >.gD0zlIoSu5 * {
font-family: FaroDisplayVariableTrial !important;
}</style>
    <div style="--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--mb-mobile:0px;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]" class="gUNy9NHwzO ">
      
    <div
      class="gp-flex gp-justify-start mobile:gp-justify-center"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:dotted;--bs-mobile:dotted;--bbw:3px;--bbw-tablet:1px;--bbw-mobile:3px;--t:gp-rotate(0deg);--bc:rgba(40, 27, 60, 0.15)"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:rgba(40, 27, 60, 0.15);--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:rgba(40, 27, 60, 0.15);--bs:dotted;--bs-mobile:dotted;--bbw:3px;--bbw-tablet:1px;--bbw-mobile:3px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:rgba(40, 27, 60, 0.15);--bs:dotted;--bs-mobile:dotted;--bbw:3px;--bbw-tablet:1px;--bbw-mobile:3px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    <div
      parentTag="Col"
        class="gPjUWi-K1S "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:130%;--size:22px;--size-tablet:20px;--size-mobile:18px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>6 topics and engaging practice activities to enhance your private conversations</p></div>
      </div>
    </div>
      <style
        id="custom-css-gPjUWi-K1S"
      >.gPjUWi-K1S * {
font-family: FaroDisplayVariableTrial !important;
}</style>
    <div style="--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--mb-mobile:0px;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]" class="gWg17rTB00 ">
      
    <div
      class="gp-flex gp-justify-start mobile:gp-justify-center"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:dotted;--bs-mobile:dotted;--bbw:3px;--bbw-tablet:1px;--bbw-mobile:3px;--t:gp-rotate(0deg);--bc:rgba(40, 27, 60, 0.15)"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:rgba(40, 27, 60, 0.15);--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:rgba(40, 27, 60, 0.15);--bs:dotted;--bs-mobile:dotted;--bbw:3px;--bbw-tablet:1px;--bbw-mobile:3px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:rgba(40, 27, 60, 0.15);--bs:dotted;--bs-mobile:dotted;--bbw:3px;--bbw-tablet:1px;--bbw-mobile:3px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    <div
      parentTag="Col"
        class="gRGMlzhPcW "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:130%;--size:22px;--size-tablet:20px;--size-mobile:18px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>Daily vocabulary for each topic</p></div>
      </div>
    </div>
      <style
        id="custom-css-gRGMlzhPcW"
      >.gRGMlzhPcW * {
font-family: FaroDisplayVariableTrial !important;
}</style>
    <div style="--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l);--mb-mobile:0px;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]" class="gfUQtlpNjx ">
      
    <div
      class="gp-flex gp-justify-start mobile:gp-justify-center"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:dotted;--bs-mobile:dotted;--bbw:3px;--bbw-tablet:1px;--bbw-mobile:3px;--t:gp-rotate(0deg);--bc:rgba(40, 27, 60, 0.15)"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:rgba(40, 27, 60, 0.15);--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:rgba(40, 27, 60, 0.15);--bs:dotted;--bs-mobile:dotted;--bbw:3px;--bbw-tablet:1px;--bbw-mobile:3px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:rgba(40, 27, 60, 0.15);--bs:dotted;--bs-mobile:dotted;--bbw:3px;--bbw-tablet:1px;--bbw-mobile:3px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    <div
      parentTag="Col"
        class="gcRxfM0r1M "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--mb-tablet:var(--g-s-xl);--mb-mobile:20px;--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:130%;--size:22px;--size-tablet:20px;--size-mobile:18px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>1 month of FREE access to my new&nbsp;app</p></div>
      </div>
    </div>
      <style
        id="custom-css-gcRxfM0r1M"
      >.gcRxfM0r1M * {
font-family: FaroDisplayVariableTrial !important;
}</style>
    
      
      
    <div
      parentTag="Col" id="gC7Ra6vhTT"
        style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F4D88E;--bgc-mobile:#F4D88E;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gC7Ra6vhTT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gOvnIl6vvV gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gm-NwFDpJ9 "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--mb:var(--g-s-l);--mb-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:130%;--size:22px;--size-tablet:20px;--size-mobile:18px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;overflow:hidden"
        ><p>Graduation Party with a speaking&nbsp;<br>session... and a chance to speak&nbsp;<br>with me in person</p></div>
      </div>
    </div>
      <style
        id="custom-css-gm-NwFDpJ9"
      >.gm-NwFDpJ9 * {
font-family: FaroDisplayVariableTrial !important;
}</style>
    <div
    
    role="presentation"
    class="gp-group/image gqDC4uUKL6"
    style="--mt:-80px;--mb:0px;--mt-mobile:-50px;--mb-mobile:0px;--mt-tablet:-40px;--mb-tablet:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:right;--ta-mobile:right"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:right;--ta-mobile:right"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-d277a8f2-aa79-43a2-bc68-d7f7626dbc47.png" | file_url }}" srcset="{{ '505533768308622442-d277a8f2-aa79-43a2-bc68-d7f7626dbc47.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-d277a8f2-aa79-43a2-bc68-d7f7626dbc47.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-d277a8f2-aa79-43a2-bc68-d7f7626dbc47.png' | file_img_url: 'master' }} 1440w" width="132" height="114" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:132/114;--aspect-tablet:132/114;--aspect-mobile:132/114;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-d277a8f2-aa79-43a2-bc68-d7f7626dbc47.png" | file_url }}" data-srcset="{{ '505533768308622442-d277a8f2-aa79-43a2-bc68-d7f7626dbc47.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-d277a8f2-aa79-43a2-bc68-d7f7626dbc47.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-d277a8f2-aa79-43a2-bc68-d7f7626dbc47.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="132" height="114" alt="Alt image"
      sizes="100vw"
      style="--aspect:132/114;--aspect-tablet:132/114;--aspect-mobile:132/114;--objf:cover;--w:100px;--w-tablet:100px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gPZTl2FLid gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gP06S15H4O"
    style="--mb:var(--g-s-l);--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-ceff7fa7-8b08-4b4e-a829-70942ace73aa.png" | file_url }}" srcset="{{ '505533768308622442-ceff7fa7-8b08-4b4e-a829-70942ace73aa.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-ceff7fa7-8b08-4b4e-a829-70942ace73aa.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-ceff7fa7-8b08-4b4e-a829-70942ace73aa.png' | file_img_url: 'master' }} 1440w" width="1338" height="1493" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:contain;--h:550px;--h-tablet:550px;--h-mobile:550px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-ceff7fa7-8b08-4b4e-a829-70942ace73aa.png" | file_url }}" data-srcset="{{ '505533768308622442-ceff7fa7-8b08-4b4e-a829-70942ace73aa.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-ceff7fa7-8b08-4b4e-a829-70942ace73aa.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-ceff7fa7-8b08-4b4e-a829-70942ace73aa.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1338" height="1493" alt="Alt image"
      sizes="100vw"
      style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:contain;--h:550px;--h-tablet:550px;--h-mobile:550px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
  <gp-button style="">
  <div
    
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:-32px;--mr:0px;--pr:0px;--mt-mobile:-100px;--mr-mobile:0px;--pr-mobile:0px;--ta:center;--ta-mobile:center"
    class=""
  >
    <style>
    .gtv2EXVMr9.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
      border-top-left-radius: 60px;
      border-top-right-radius: 60px;
      
    }

    .gtv2EXVMr9:hover::before {
      
      
    }
  </style>
    <a
      href="https://missenglishteacher.club/cart/47930431144266:1?channel=buy_button" target="_blank" data-id="gtv2EXVMr9" aria-label="Get it now for only €49"
      
      data-state="idle"
      class="gtv2EXVMr9 gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:rgba(229, 71, 85, 0.8);--bg:#E54755;--bblr:60px;--bbrr:60px;--btlr:60px;--btrr:60px;--shadow:none;--c:#ffffff;--w:400px;--w-tablet:400px;--w-mobile:400px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--tt:default;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--lh:260%;--size:20px;--size-tablet:16px;--size-mobile:20px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        Get it now for only €49
      </span>
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 4",
      "tag": "section",
      "class": "gps-509590835185124525 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/22a886-0f/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=509590835017286829&sectionId=509590835185124525)"
        },
        {
          "type": "text",
          "label": "section_preload",
          "id": "section_preload",
          "default": "false"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
