
  <style> @import url('https://fonts.googleapis.com/css?family=Acme:400&display=swap'); </style>
  <style> .gps-509591162760201389 .gp-relative{position:relative}.gps-509591162760201389 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509591162760201389 .gp-mb-0{margin-bottom:0}.gps-509591162760201389 .\!gp-inline{display:inline!important}.gps-509591162760201389 .gp-flex{display:flex}.gps-509591162760201389 .gp-grid{display:grid}.gps-509591162760201389 .\!gp-hidden{display:none!important}.gps-509591162760201389 .gp-hidden{display:none}.gps-509591162760201389 .gp-h-full{height:100%}.gps-509591162760201389 .gp-w-full{width:100%}.gps-509591162760201389 .gp-max-w-full{max-width:100%}.gps-509591162760201389 .gp-flex-col{flex-direction:column}.gps-509591162760201389 .gp-gap-y-0{row-gap:0}.gps-509591162760201389 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509591162760201389 .gp-duration-200{transition-duration:.2s}.gps-509591162760201389 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-509591162760201389 .tablet\:\!gp-hidden{display:none!important}.gps-509591162760201389 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509591162760201389 .mobile\:\!gp-hidden{display:none!important}.gps-509591162760201389 .mobile\:gp-hidden{display:none}}.gps-509591162760201389 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-509591162760201389 .\[\&_p\]\:gp-inline p{display:inline}.gps-509591162760201389 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-509591162760201389 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="guwRczmqHH"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:none;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-s);--pl:var(--g-s-l);--pb:var(--g-s-s);--pr:var(--g-s-l);--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-s);--pb-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--pt-tablet:8px;--pl-tablet:var(--g-s-l);--pb-tablet:8px;--pr-tablet:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#281B3C;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guwRczmqHH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gf8PUFdsv2 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gb8Wq4NlHm"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--mb:0px;--pt:var(--g-s-4xl);--pl:var(--g-s-3xl);--pb:100px;--pr:var(--g-s-3xl);--mb-mobile:0px;--pt-mobile:60px;--pl-mobile:var(--g-s-3xl);--pb-mobile:var(--g-s-4xl);--pr-mobile:var(--g-s-3xl);--mb-tablet:0px;--pt-tablet:60px;--pl-tablet:var(--g-s-3xl);--pb-tablet:80px;--pr-tablet:var(--g-s-3xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ADCDEA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gb8Wq4NlHm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghjiA5WF7J gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gRkJt0a7Bo "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--mb:42px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:130%;--size:70px;--size-tablet:56px;--size-mobile:30px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;overflow:hidden"
        >You will learn</h2>
      </div>
    </div>
      <style
        id="custom-css-gRkJt0a7Bo"
      >.gRkJt0a7Bo * {
font-family: PPAcma-Black !important;
}</style>
    
      
      
    <div
      parentTag="Col" id="gVh4p5voL9"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVh4p5voL9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gepatHaTUL gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gB6oFYL6HA"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-28d66043-137d-4cbc-9792-b3c4d0af44a0.png" | file_url }}" srcset="{{ '505533768308622442-28d66043-137d-4cbc-9792-b3c4d0af44a0.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-28d66043-137d-4cbc-9792-b3c4d0af44a0.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-28d66043-137d-4cbc-9792-b3c4d0af44a0.png' | file_img_url: 'master' }} 1440w" width="1500" height="1079" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1500/1079;--aspect-tablet:1500/1079;--aspect-mobile:1500/1079;--objf:cover;--w:300px;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-28d66043-137d-4cbc-9792-b3c4d0af44a0.png" | file_url }}" data-srcset="{{ '505533768308622442-28d66043-137d-4cbc-9792-b3c4d0af44a0.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-28d66043-137d-4cbc-9792-b3c4d0af44a0.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-28d66043-137d-4cbc-9792-b3c4d0af44a0.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1500" height="1079" alt="Alt image"
      sizes="100vw"
      style="--aspect:1500/1079;--aspect-tablet:1500/1079;--aspect-mobile:1500/1079;--objf:cover;--w:300px;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gTQAo4ns3E gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gSEJNfc6ey"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-ac466d6d-e04f-4910-8829-eae715cae158.png" | file_url }}" srcset="{{ '505533768308622442-ac466d6d-e04f-4910-8829-eae715cae158.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-ac466d6d-e04f-4910-8829-eae715cae158.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-ac466d6d-e04f-4910-8829-eae715cae158.png' | file_img_url: 'master' }} 1440w" width="1500" height="1079" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1500/1079;--aspect-tablet:1500/1079;--aspect-mobile:1500/1079;--objf:cover;--w:300px;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-ac466d6d-e04f-4910-8829-eae715cae158.png" | file_url }}" data-srcset="{{ '505533768308622442-ac466d6d-e04f-4910-8829-eae715cae158.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-ac466d6d-e04f-4910-8829-eae715cae158.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-ac466d6d-e04f-4910-8829-eae715cae158.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1500" height="1079" alt="Alt image"
      sizes="100vw"
      style="--aspect:1500/1079;--aspect-tablet:1500/1079;--aspect-mobile:1500/1079;--objf:cover;--w:300px;--w-tablet:300px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gqsA7mmtn1"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqsA7mmtn1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gQ4Kr2r8w5 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gQdSptxN07"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQdSptxN07 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gLRLzpU1Mn gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gv8kme-uTc"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-69f4d3ad-8268-4045-98ea-694d3917cd00.png" | file_url }}" srcset="{{ '505533768308622442-69f4d3ad-8268-4045-98ea-694d3917cd00.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-69f4d3ad-8268-4045-98ea-694d3917cd00.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-69f4d3ad-8268-4045-98ea-694d3917cd00.png' | file_img_url: 'master' }} 1440w" width="1860" height="800" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1860/800;--aspect-tablet:1860/800;--aspect-mobile:1860/800;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-69f4d3ad-8268-4045-98ea-694d3917cd00.png" | file_url }}" data-srcset="{{ '505533768308622442-69f4d3ad-8268-4045-98ea-694d3917cd00.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-69f4d3ad-8268-4045-98ea-694d3917cd00.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-69f4d3ad-8268-4045-98ea-694d3917cd00.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1860" height="800" alt="Alt image"
      sizes="100vw"
      style="--aspect:1860/800;--aspect-tablet:1860/800;--aspect-mobile:1860/800;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gUNUg0Fdcq gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gibua7AkSd"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png" | file_url }}" srcset="{{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: 'master' }} 1440w" width="297" height="297" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:297/297;--aspect-tablet:297/297;--aspect-mobile:297/297;--objf:cover;--w:200px;--w-tablet:200px;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png" | file_url }}" data-srcset="{{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="297" height="297" alt="Alt image"
      sizes="100vw"
      style="--aspect:297/297;--aspect-tablet:297/297;--aspect-mobile:297/297;--objf:cover;--w:200px;--w-tablet:200px;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gF2Yiyb7Af gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gWdCO_96If"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-e4097012-3d3a-4f3e-90a3-3e7cb73963b7.png" | file_url }}" srcset="{{ '505533768308622442-e4097012-3d3a-4f3e-90a3-3e7cb73963b7.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-e4097012-3d3a-4f3e-90a3-3e7cb73963b7.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-e4097012-3d3a-4f3e-90a3-3e7cb73963b7.png' | file_img_url: 'master' }} 1440w" width="1860" height="800" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1860/800;--aspect-tablet:1860/800;--aspect-mobile:1860/800;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-e4097012-3d3a-4f3e-90a3-3e7cb73963b7.png" | file_url }}" data-srcset="{{ '505533768308622442-e4097012-3d3a-4f3e-90a3-3e7cb73963b7.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-e4097012-3d3a-4f3e-90a3-3e7cb73963b7.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-e4097012-3d3a-4f3e-90a3-3e7cb73963b7.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1860" height="800" alt="Alt image"
      sizes="100vw"
      style="--aspect:1860/800;--aspect-tablet:1860/800;--aspect-mobile:1860/800;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 0",
      "tag": "section",
      "class": "gps-509591162760201389 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/22a886-0f/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=509590835017286829&sectionId=509591162760201389)"
        },
        {
          "type": "text",
          "label": "section_preload",
          "id": "section_preload",
          "default": "false"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
