
  <style> @import url('https://fonts.googleapis.com/css?family=Acme:400|Farro:400,700&display=swap'); </style>
  <style> .gps-509756963395994499 .gp-relative{position:relative}.gps-509756963395994499 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509756963395994499 .gp-mb-0{margin-bottom:0}.gps-509756963395994499 .\!gp-inline{display:inline!important}.gps-509756963395994499 .gp-flex{display:flex}.gps-509756963395994499 .gp-grid{display:grid}.gps-509756963395994499 .\!gp-hidden{display:none!important}.gps-509756963395994499 .gp-hidden{display:none}.gps-509756963395994499 .gp-h-full{height:100%}.gps-509756963395994499 .gp-w-full{width:100%}.gps-509756963395994499 .gp-max-w-full{max-width:100%}.gps-509756963395994499 .gp-flex-col{flex-direction:column}.gps-509756963395994499 .gp-gap-y-0{row-gap:0}.gps-509756963395994499 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509756963395994499 .gp-duration-200{transition-duration:.2s}.gps-509756963395994499 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-509756963395994499 .tablet\:\!gp-hidden{display:none!important}.gps-509756963395994499 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509756963395994499 .mobile\:\!gp-hidden{display:none!important}.gps-509756963395994499 .mobile\:gp-hidden{display:none}}.gps-509756963395994499 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-509756963395994499 .\[\&_p\]\:gp-inline p{display:inline}.gps-509756963395994499 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-509756963395994499 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gsPpUXaWjs"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-s);--pl:var(--g-s-l);--pb:var(--g-s-s);--pr:var(--g-s-l);--pt-mobile:var(--g-s-s);--pl-mobile:var(--g-s-s);--pb-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--pt-tablet:8px;--pl-tablet:var(--g-s-l);--pb-tablet:8px;--pr-tablet:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#281B3C;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsPpUXaWjs gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7USibS2wp gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gM5_ay4kmw"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--pt:var(--g-s-4xl);--pl:var(--g-s-3xl);--pb:100px;--pr:var(--g-s-3xl);--mb-mobile:0px;--pt-mobile:60px;--pl-mobile:var(--g-s-3xl);--pb-mobile:var(--g-s-4xl);--pr-mobile:var(--g-s-3xl);--mb-tablet:0px;--pt-tablet:60px;--pl-tablet:var(--g-s-3xl);--pb-tablet:80px;--pr-tablet:var(--g-s-3xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EDBDDA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gM5_ay4kmw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1Y2IBAmNL gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gMONTxGwRl "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--mb:var(--g-s-3xl);--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:70px;--size-tablet:56px;--size-mobile:40px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;overflow:hidden"
        >You will get</h2>
      </div>
    </div>
      <style
        id="custom-css-gMONTxGwRl"
      >.gMONTxGwRl * {
font-family: PPAcma-Black !important;
}</style>
    
      
      
    <div
      parentTag="Col" id="gyZiKa5_eJ"
        style="--mb:var(--g-s-xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:24px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gyZiKa5_eJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gTjCHGwOmi gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gjoZy17Z8O"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--ml:auto;--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjoZy17Z8O gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="grLk1ychRp gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gAsOsHLZKu"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-9e0cb533-4c67-481e-9b65-c1a16ad6418f.png" | file_url }}" srcset="{{ '505533768308622442-9e0cb533-4c67-481e-9b65-c1a16ad6418f.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-9e0cb533-4c67-481e-9b65-c1a16ad6418f.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-9e0cb533-4c67-481e-9b65-c1a16ad6418f.png' | file_img_url: 'master' }} 1440w" width="102" height="102" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-9e0cb533-4c67-481e-9b65-c1a16ad6418f.png" | file_url }}" data-srcset="{{ '505533768308622442-9e0cb533-4c67-481e-9b65-c1a16ad6418f.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-9e0cb533-4c67-481e-9b65-c1a16ad6418f.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-9e0cb533-4c67-481e-9b65-c1a16ad6418f.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="102" height="102" alt="Alt image"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="gOdOdNnP_n "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:17px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:20px;--size-tablet:18px;--size-mobile:20px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        ><p>A warm welcome to an exclusive live session with me</p></div>
      </div>
    </div>
      <style
        id="custom-css-gOdOdNnP_n"
      >.gOdOdNnP_n {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gjoZy17Z8O"
      >.gjoZy17Z8O {

    transform: rotate(0deg);
}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gWTDL-T-j0 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gcFmoB08SD"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--ml:auto;--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcFmoB08SD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gH3QFbVoj3 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gRM9mTbwIS"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-9a808930-946c-4360-a7ae-bd99f5f52b5b.png" | file_url }}" srcset="{{ '505533768308622442-9a808930-946c-4360-a7ae-bd99f5f52b5b.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-9a808930-946c-4360-a7ae-bd99f5f52b5b.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-9a808930-946c-4360-a7ae-bd99f5f52b5b.png' | file_img_url: 'master' }} 1440w" width="102" height="102" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-9a808930-946c-4360-a7ae-bd99f5f52b5b.png" | file_url }}" data-srcset="{{ '505533768308622442-9a808930-946c-4360-a7ae-bd99f5f52b5b.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-9a808930-946c-4360-a7ae-bd99f5f52b5b.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-9a808930-946c-4360-a7ae-bd99f5f52b5b.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="102" height="102" alt="Alt image"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="gj5pKVnB42 "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:17px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:20px;--size-tablet:18px;--size-mobile:24px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        ><p>2 video messages from Miss English Teacher every day</p></div>
      </div>
    </div>
      <style
        id="custom-css-gj5pKVnB42"
      >.gj5pKVnB42 {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gcFmoB08SD"
      >.gcFmoB08SD {

    transform: rotate(0deg);
}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g8sdJSRm2K gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g5UuIY7NiM"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--ml:auto;--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5UuIY7NiM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gFB6OVIiug gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gVVgwbae6g"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-1d60d594-c6cf-4147-8e88-b06713ca4262.png" | file_url }}" srcset="{{ '505533768308622442-1d60d594-c6cf-4147-8e88-b06713ca4262.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-1d60d594-c6cf-4147-8e88-b06713ca4262.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-1d60d594-c6cf-4147-8e88-b06713ca4262.png' | file_img_url: 'master' }} 1440w" width="102" height="102" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-1d60d594-c6cf-4147-8e88-b06713ca4262.png" | file_url }}" data-srcset="{{ '505533768308622442-1d60d594-c6cf-4147-8e88-b06713ca4262.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-1d60d594-c6cf-4147-8e88-b06713ca4262.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-1d60d594-c6cf-4147-8e88-b06713ca4262.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="102" height="102" alt="Alt image"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="gEwN7KPQrH "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:17px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:20px;--size-tablet:18px;--size-mobile:20px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        ><p>6 topics to enhance your private conversations</p></div>
      </div>
    </div>
      <style
        id="custom-css-gEwN7KPQrH"
      >.gEwN7KPQrH {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-g5UuIY7NiM"
      >.g5UuIY7NiM {

    transform: rotate(0deg);
}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g4z4X0LMTG gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gPJgOlmD2n"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--ml:auto;--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPJgOlmD2n gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gsAkHcVlXJ gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gRWD04laei"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-ac841bdc-cf8f-4bc4-aa9a-5b1b2797e398.png" | file_url }}" srcset="{{ '505533768308622442-ac841bdc-cf8f-4bc4-aa9a-5b1b2797e398.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-ac841bdc-cf8f-4bc4-aa9a-5b1b2797e398.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-ac841bdc-cf8f-4bc4-aa9a-5b1b2797e398.png' | file_img_url: 'master' }} 1440w" width="102" height="102" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-ac841bdc-cf8f-4bc4-aa9a-5b1b2797e398.png" | file_url }}" data-srcset="{{ '505533768308622442-ac841bdc-cf8f-4bc4-aa9a-5b1b2797e398.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-ac841bdc-cf8f-4bc4-aa9a-5b1b2797e398.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-ac841bdc-cf8f-4bc4-aa9a-5b1b2797e398.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="102" height="102" alt="Alt image"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="gJU_3VVZ0P "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:17px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:20px;--size-tablet:18px;--size-mobile:20px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        ><p>Daily vocabulary for each topic</p><p>&nbsp;</p></div>
      </div>
    </div>
      <style
        id="custom-css-gJU_3VVZ0P"
      >.gJU_3VVZ0P {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gPJgOlmD2n"
      >.gPJgOlmD2n {

    transform: rotate(0deg);
}</style>
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g8OJZzF35k"
        style="--mb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:24px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8OJZzF35k gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gtVSV8ju2S gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gyD8giOdUH"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--ml:auto;--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gyD8giOdUH gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzr2E2GHyj gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gpFyP1GzOx"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-586a61de-235e-43ad-b0a0-aac4490f04a3.png" | file_url }}" srcset="{{ '505533768308622442-586a61de-235e-43ad-b0a0-aac4490f04a3.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-586a61de-235e-43ad-b0a0-aac4490f04a3.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-586a61de-235e-43ad-b0a0-aac4490f04a3.png' | file_img_url: 'master' }} 1440w" width="102" height="102" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-586a61de-235e-43ad-b0a0-aac4490f04a3.png" | file_url }}" data-srcset="{{ '505533768308622442-586a61de-235e-43ad-b0a0-aac4490f04a3.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-586a61de-235e-43ad-b0a0-aac4490f04a3.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-586a61de-235e-43ad-b0a0-aac4490f04a3.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="102" height="102" alt="Alt image"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="gSvVF3-JVa "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:17px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:20px;--size-tablet:18px;--size-mobile:20px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        ><p>6 engaging practice activities that our brilliant tutors check</p></div>
      </div>
    </div>
      <style
        id="custom-css-gSvVF3-JVa"
      >.gSvVF3-JVa {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gyD8giOdUH"
      >.gyD8giOdUH {

    transform: rotate(0deg);
}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gX941n2hhn gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gLNCQI6RGX"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--ml:auto;--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLNCQI6RGX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYCuFxyoLT gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gHjdkp_khC"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-ea107ab7-5082-4548-8e61-69ec00e2de33.png" | file_url }}" srcset="{{ '505533768308622442-ea107ab7-5082-4548-8e61-69ec00e2de33.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-ea107ab7-5082-4548-8e61-69ec00e2de33.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-ea107ab7-5082-4548-8e61-69ec00e2de33.png' | file_img_url: 'master' }} 1440w" width="102" height="102" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-ea107ab7-5082-4548-8e61-69ec00e2de33.png" | file_url }}" data-srcset="{{ '505533768308622442-ea107ab7-5082-4548-8e61-69ec00e2de33.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-ea107ab7-5082-4548-8e61-69ec00e2de33.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-ea107ab7-5082-4548-8e61-69ec00e2de33.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="102" height="102" alt="Alt image"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="gEHpm-yrHn "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:17px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:20px;--size-tablet:18px;--size-mobile:24px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        ><p>Graduation event with a speaking session + a chance to speak with me</p></div>
      </div>
    </div>
      <style
        id="custom-css-gEHpm-yrHn"
      >.gEHpm-yrHn {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gLNCQI6RGX"
      >.gLNCQI6RGX {

    transform: rotate(0deg);
}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gSZg_Ek4Hv gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gQ8GRJn_1o"
    style="--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png" | file_url }}" srcset="{{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: 'master' }} 1440w" width="297" height="297" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:297/297;--aspect-tablet:297/297;--aspect-mobile:297/297;--objf:cover;--w:240px;--w-tablet:240px;--w-mobile:240px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png" | file_url }}" data-srcset="{{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="297" height="297" alt="Alt image"
      sizes="100vw"
      style="--aspect:297/297;--aspect-tablet:297/297;--aspect-mobile:297/297;--objf:cover;--w:240px;--w-tablet:240px;--w-mobile:240px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="ggvZQhNQKQ gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gMvBODxiNu"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--ml:auto;--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMvBODxiNu gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3PY6769w_ gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gle1eWj6kx"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-a419e003-e515-42bf-96a5-1957a24c6156.png" | file_url }}" srcset="{{ '505533768308622442-a419e003-e515-42bf-96a5-1957a24c6156.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-a419e003-e515-42bf-96a5-1957a24c6156.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-a419e003-e515-42bf-96a5-1957a24c6156.png' | file_img_url: 'master' }} 1440w" width="102" height="102" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-a419e003-e515-42bf-96a5-1957a24c6156.png" | file_url }}" data-srcset="{{ '505533768308622442-a419e003-e515-42bf-96a5-1957a24c6156.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-a419e003-e515-42bf-96a5-1957a24c6156.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-a419e003-e515-42bf-96a5-1957a24c6156.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="102" height="102" alt="Alt image"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="gnfYYFaoFk "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:17px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:20px;--size-tablet:18px;--size-mobile:20px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        ><p>1 month of free access to my new app</p><p>&nbsp;</p></div>
      </div>
    </div>
      <style
        id="custom-css-gnfYYFaoFk"
      >.gnfYYFaoFk {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gMvBODxiNu"
      >.gMvBODxiNu {

    transform: rotate(0deg);
}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 0",
      "tag": "section",
      "class": "gps-509756963395994499 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/22a886-0f/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=509590835017286829&sectionId=509756963395994499)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
