
  
  <style> .gps-509590835168347309 .gp-relative{position:relative}.gps-509590835168347309 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509590835168347309 .gp-mb-0{margin-bottom:0}.gps-509590835168347309 .\!gp-inline{display:inline!important}.gps-509590835168347309 .gp-flex{display:flex}.gps-509590835168347309 .gp-grid{display:grid}.gps-509590835168347309 .\!gp-hidden{display:none!important}.gps-509590835168347309 .gp-hidden{display:none}.gps-509590835168347309 .gp-h-full{height:100%}.gps-509590835168347309 .gp-w-full{width:100%}.gps-509590835168347309 .gp-max-w-full{max-width:100%}.gps-509590835168347309 .gp-flex-col{flex-direction:column}.gps-509590835168347309 .gp-gap-y-0{row-gap:0}.gps-509590835168347309 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509590835168347309 .gp-duration-200{transition-duration:.2s}.gps-509590835168347309 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-509590835168347309 .tablet\:\!gp-hidden{display:none!important}.gps-509590835168347309 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509590835168347309 .mobile\:\!gp-hidden{display:none!important}.gps-509590835168347309 .mobile\:gp-hidden{display:none}}.gps-509590835168347309 .\[\&_\*\]\:gp-max-w-full *{max-width:100%} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gS6IdP53lX"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:none;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-s);--pl:var(--g-s-l);--pb:var(--g-s-s);--pr:var(--g-s-l);--pt-mobile:var(--g-s-s);--pl-mobile:var(--g-s-s);--pb-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--pt-tablet:8px;--pl-tablet:var(--g-s-l);--pb-tablet:8px;--pr-tablet:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#281B3C;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gS6IdP53lX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g39rE00HHQ gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g-eHeOGcfI"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--mb:0px;--pt:var(--g-s-4xl);--pl:var(--g-s-3xl);--pb:0px;--pr:var(--g-s-3xl);--mb-mobile:0px;--pt-mobile:var(--g-s-2xl);--pl-mobile:var(--g-s-3xl);--pb-mobile:0px;--pr-mobile:var(--g-s-3xl);--mb-tablet:0px;--pt-tablet:60px;--pl-tablet:var(--g-s-3xl);--pb-tablet:0px;--pr-tablet:var(--g-s-3xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EDBDDA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-eHeOGcfI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkWgpE3oMa gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gj9caU1dKK"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gj9caU1dKK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gqZbVA4aH0 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image guqvkWxhnS"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-a8bc8f4b-1de9-4ca3-bc9c-5fd548de81a6.png" | file_url }}" srcset="{{ '505533768308622442-a8bc8f4b-1de9-4ca3-bc9c-5fd548de81a6.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-a8bc8f4b-1de9-4ca3-bc9c-5fd548de81a6.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-a8bc8f4b-1de9-4ca3-bc9c-5fd548de81a6.png' | file_img_url: 'master' }} 1440w" width="1275" height="941" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1275/941;--aspect-tablet:1275/941;--aspect-mobile:1275/941;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-a8bc8f4b-1de9-4ca3-bc9c-5fd548de81a6.png" | file_url }}" data-srcset="{{ '505533768308622442-a8bc8f4b-1de9-4ca3-bc9c-5fd548de81a6.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-a8bc8f4b-1de9-4ca3-bc9c-5fd548de81a6.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-a8bc8f4b-1de9-4ca3-bc9c-5fd548de81a6.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1275" height="941" alt="Alt image"
      sizes="100vw"
      style="--aspect:1275/941;--aspect-tablet:1275/941;--aspect-mobile:1275/941;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g_0E6Kx3z8 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gkQ_yEVj25"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-995c343d-1e28-429a-a6ca-2b58ee384f1f.png" | file_url }}" srcset="{{ '505533768308622442-995c343d-1e28-429a-a6ca-2b58ee384f1f.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-995c343d-1e28-429a-a6ca-2b58ee384f1f.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-995c343d-1e28-429a-a6ca-2b58ee384f1f.png' | file_img_url: 'master' }} 1440w" width="1440" height="1370" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:1440/1370;--aspect-tablet:1440/1370;--aspect-mobile:1440/1370;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-995c343d-1e28-429a-a6ca-2b58ee384f1f.png" | file_url }}" data-srcset="{{ '505533768308622442-995c343d-1e28-429a-a6ca-2b58ee384f1f.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-995c343d-1e28-429a-a6ca-2b58ee384f1f.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-995c343d-1e28-429a-a6ca-2b58ee384f1f.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1440" height="1370" alt="Alt image"
      sizes="100vw"
      style="--aspect:1440/1370;--aspect-tablet:1440/1370;--aspect-mobile:1440/1370;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 0",
      "tag": "section",
      "class": "gps-509590835168347309 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/22a886-0f/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=509590835017286829&sectionId=509590835168347309)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
