
  <style> @import url('https://fonts.googleapis.com/css?family=Acme:400|Farro:400,700|Assistant:400&display=swap'); </style>
  <style> .gps-510040818036245306 .gp-invisible{visibility:hidden}.gps-510040818036245306 .gp-absolute{position:absolute}.gps-510040818036245306 .gp-relative{position:relative}.gps-510040818036245306 .gp-z-1{z-index:1}.gps-510040818036245306 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-510040818036245306 .gp-mb-0{margin-bottom:0}.gps-510040818036245306 .\!gp-inline{display:inline!important}.gps-510040818036245306 .gp-flex{display:flex}.gps-510040818036245306 .gp-inline-flex{display:inline-flex}.gps-510040818036245306 .gp-grid{display:grid}.gps-510040818036245306 .\!gp-hidden{display:none!important}.gps-510040818036245306 .gp-hidden{display:none}.gps-510040818036245306 .gp-h-5{height:20px}.gps-510040818036245306 .gp-h-full{height:100%}.gps-510040818036245306 .gp-w-5{width:20px}.gps-510040818036245306 .gp-w-full{width:100%}.gps-510040818036245306 .gp-max-w-full{max-width:100%}.gps-510040818036245306 .gp-flex-col{flex-direction:column}.gps-510040818036245306 .gp-items-center{align-items:center}.gps-510040818036245306 .gp-justify-center{justify-content:center}.gps-510040818036245306 .gp-gap-y-0{row-gap:0}.gps-510040818036245306 .gp-overflow-hidden{overflow:hidden}.gps-510040818036245306 .gp-break-words{overflow-wrap:break-word}.gps-510040818036245306 .gp-rounded-none{border-radius:0}.gps-510040818036245306 .gp-no-underline{text-decoration-line:none}.gps-510040818036245306 .gp-opacity-25{opacity:.25}.gps-510040818036245306 .gp-opacity-75{opacity:.75}.gps-510040818036245306 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-510040818036245306 .gp-duration-200{transition-duration:.2s}.gps-510040818036245306 .gp-duration-300{transition-duration:.3s}.gps-510040818036245306 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-510040818036245306 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-510040818036245306 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-510040818036245306 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-510040818036245306 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-510040818036245306 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-510040818036245306 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-510040818036245306 .tablet\:\!gp-hidden{display:none!important}.gps-510040818036245306 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-510040818036245306 .mobile\:\!gp-hidden{display:none!important}.gps-510040818036245306 .mobile\:gp-hidden{display:none}}.gps-510040818036245306 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-510040818036245306 .\[\&_p\]\:gp-inline p{display:inline}.gps-510040818036245306 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-510040818036245306 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-510040818036245306 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gnqr_7vCHq"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:0px;--pt:var(--g-s-5xl);--pl:var(--g-s-3xl);--pb:100px;--pr:var(--g-s-3xl);--pt-mobile:var(--g-s-l);--pl-mobile:0px;--pb-mobile:var(--g-s-s);--pr-mobile:0px;--pt-tablet:var(--g-s-4xl);--pl-tablet:var(--g-s-2xl);--pb-tablet:var(--g-s-4xl);--pr-tablet:var(--g-s-2xl);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#281B3C;--bgc-mobile:#281B3C;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnqr_7vCHq gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gysv4ujZkC gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gWdltmwiwU"
    style="--mb-mobile:var(--g-s-l);--pt-mobile:var(--g-s-2xl);--pl-mobile:var(--g-s-2xl);--pb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-2xl);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-55f7b9e8-9ebf-4956-9981-aa0c07c0d875.gif" | file_url }}" srcset="{{ '505533768308622442-55f7b9e8-9ebf-4956-9981-aa0c07c0d875.gif' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-55f7b9e8-9ebf-4956-9981-aa0c07c0d875.gif' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-55f7b9e8-9ebf-4956-9981-aa0c07c0d875.gif' | file_img_url: 'master' }} 1440w" width="400" height="400" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:400/400;--aspect-tablet:400/400;--aspect-mobile:400/400;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-55f7b9e8-9ebf-4956-9981-aa0c07c0d875.gif" | file_url }}" data-srcset="{{ '505533768308622442-55f7b9e8-9ebf-4956-9981-aa0c07c0d875.gif' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-55f7b9e8-9ebf-4956-9981-aa0c07c0d875.gif' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-55f7b9e8-9ebf-4956-9981-aa0c07c0d875.gif' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="400" height="400" alt="Alt image"
      sizes="100vw"
      style="--aspect:400/400;--aspect-tablet:400/400;--aspect-mobile:400/400;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:300px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gppHRcu5-X gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="guyz6uvn-t "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:100px;--size-tablet:80px;--size-mobile:44px;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;overflow:hidden"
        >Chat Daily&nbsp;<br>With Me</h2>
      </div>
    </div>
      <style
        id="custom-css-guyz6uvn-t"
      >.guyz6uvn-t * {
font-family: PPAcma-Black !important;
}</style>
    
    <div
      parentTag="Col"
        class="gl-jUL5GMM "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-tablet:0px;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:180%;--size:34px;--size-tablet:28px;--size-mobile:34px;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>1-week course</p></div>
      </div>
    </div>
      <style
        id="custom-css-gl-jUL5GMM"
      >.gl-jUL5GMM * {
font-family: FaroDisplayVariableTrial !important;
}</style>
    
    <div
      parentTag="Col"
        class="grpPytAoQA "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:40px;--mb-tablet:22px;--mb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:180%;--size:20px;--size-tablet:18px;--size-mobile:20px;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>29 April to 5 May</p></div>
      </div>
    </div>
      <style
        id="custom-css-grpPytAoQA"
      >.grpPytAoQA * {
font-family: FaroDisplayVariableTrial !important;
}</style>
    
  <gp-button style="">
  <div
    
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:16px;--mb:29px;--mr:0px;--pr:0px;--ta:center;--ta-mobile:center"
    class=""
  >
    <style>
    .gaJaJ2rRvb.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
      border-top-left-radius: 60px;
      border-top-right-radius: 60px;
      
    }

    .gaJaJ2rRvb:hover::before {
      
      
    }
  </style>
    <a
      href="https://missenglishteacher.club/cart/47930431144266:1?channel=buy_button" target="_blank" data-id="gaJaJ2rRvb" aria-label="Buy Now for €49"
      
      data-state="idle"
      class="gaJaJ2rRvb gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:rgba(244, 216, 142, 0.8);--bg:#F4D88E;--bblr:60px;--bbrr:60px;--btlr:60px;--btrr:60px;--shadow:none;--c:#281B3C;--w:340px;--w-tablet:340px;--w-mobile:340px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:var(--g-s-m);--pr:var(--g-s-m);--pt:var(--g-s-xs);--pb:var(--g-s-xs);--tt:default;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--lh:260%;--size:30px;--size-tablet:16px;--size-mobile:20px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gaJaJ2rRvb_label }}
      </span>
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 1",
      "tag": "section",
      "class": "gps-510040818036245306 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/22a886-0f/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=509590835017286829&sectionId=510040818036245306)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
