
  <style> @import url('https://fonts.googleapis.com/css?family=Acme:400&display=swap'); </style>
  <style> .gps-509750302136599354 .gp-relative{position:relative}.gps-509750302136599354 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509750302136599354 .gp-mb-0{margin-bottom:0}.gps-509750302136599354 .\!gp-inline{display:inline!important}.gps-509750302136599354 .gp-flex{display:flex}.gps-509750302136599354 .gp-grid{display:grid}.gps-509750302136599354 .\!gp-hidden{display:none!important}.gps-509750302136599354 .gp-hidden{display:none}.gps-509750302136599354 .gp-h-full{height:100%}.gps-509750302136599354 .gp-w-full{width:100%}.gps-509750302136599354 .gp-max-w-full{max-width:100%}.gps-509750302136599354 .gp-flex-col{flex-direction:column}.gps-509750302136599354 .gp-gap-y-0{row-gap:0}.gps-509750302136599354 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509750302136599354 .gp-duration-200{transition-duration:.2s}.gps-509750302136599354 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-509750302136599354 .tablet\:\!gp-hidden{display:none!important}.gps-509750302136599354 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509750302136599354 .mobile\:\!gp-hidden{display:none!important}.gps-509750302136599354 .mobile\:gp-hidden{display:none}}.gps-509750302136599354 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-509750302136599354 .\[\&_p\]\:gp-inline p{display:inline}.gps-509750302136599354 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-509750302136599354 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gEyNP4jEi8"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:none;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-s);--pl:var(--g-s-l);--pb:var(--g-s-s);--pr:var(--g-s-l);--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-s);--pb-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--pt-tablet:8px;--pl-tablet:var(--g-s-l);--pb-tablet:8px;--pr-tablet:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#EDBDDA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEyNP4jEi8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAe2k2ka6D gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gNbQfDIM5g"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--mb:0px;--pt:var(--g-s-4xl);--pl:var(--g-s-3xl);--pb:var(--g-s-2xl);--pr:var(--g-s-3xl);--mb-mobile:0px;--pt-mobile:60px;--pl-mobile:var(--g-s-3xl);--pb-mobile:var(--g-s-4xl);--pr-mobile:var(--g-s-3xl);--mb-tablet:0px;--pt-tablet:60px;--pl-tablet:var(--g-s-3xl);--pb-tablet:80px;--pr-tablet:var(--g-s-3xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EDBDDA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNbQfDIM5g gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBZnoFRX8Q gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gqlusyrnxB "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--mb:42px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:130%;--size:70px;--size-tablet:56px;--size-mobile:30px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;overflow:hidden"
        >You will learn</h2>
      </div>
    </div>
      <style
        id="custom-css-gqlusyrnxB"
      >.gqlusyrnxB * {
font-family: PPAcma-Black !important;
}</style>
    
      
      
    <div
      parentTag="Col" id="gxIhJ_Mu-b"
        style="--mb:var(--g-s-3xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:24px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxIhJ_Mu-b gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g71c8LxBuf gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gRYLx9dB5A"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-3e459a29-434e-4389-8043-9c3d33a36e4d.png" | file_url }}" srcset="{{ '505533768308622442-3e459a29-434e-4389-8043-9c3d33a36e4d.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-3e459a29-434e-4389-8043-9c3d33a36e4d.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-3e459a29-434e-4389-8043-9c3d33a36e4d.png' | file_img_url: 'master' }} 1440w" width="585" height="774" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:585/774;--aspect-tablet:585/774;--aspect-mobile:585/774;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-3e459a29-434e-4389-8043-9c3d33a36e4d.png" | file_url }}" data-srcset="{{ '505533768308622442-3e459a29-434e-4389-8043-9c3d33a36e4d.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-3e459a29-434e-4389-8043-9c3d33a36e4d.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-3e459a29-434e-4389-8043-9c3d33a36e4d.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="585" height="774" alt="Alt image"
      sizes="100vw"
      style="--aspect:585/774;--aspect-tablet:585/774;--aspect-mobile:585/774;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gQmirH9xSN gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gbMWYdRgm0"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-b781dc44-87b5-4962-8e2d-7ced834fdce3.png" | file_url }}" srcset="{{ '505533768308622442-b781dc44-87b5-4962-8e2d-7ced834fdce3.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-b781dc44-87b5-4962-8e2d-7ced834fdce3.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-b781dc44-87b5-4962-8e2d-7ced834fdce3.png' | file_img_url: 'master' }} 1440w" width="585" height="774" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:585/774;--aspect-tablet:585/774;--aspect-mobile:585/774;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-b781dc44-87b5-4962-8e2d-7ced834fdce3.png" | file_url }}" data-srcset="{{ '505533768308622442-b781dc44-87b5-4962-8e2d-7ced834fdce3.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-b781dc44-87b5-4962-8e2d-7ced834fdce3.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-b781dc44-87b5-4962-8e2d-7ced834fdce3.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="585" height="774" alt="Alt image"
      sizes="100vw"
      style="--aspect:585/774;--aspect-tablet:585/774;--aspect-mobile:585/774;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gRChdp9h7V gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gNQ3qw8g2H"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-99754e72-086b-4f45-8d66-6cc9fdc02236.png" | file_url }}" srcset="{{ '505533768308622442-99754e72-086b-4f45-8d66-6cc9fdc02236.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-99754e72-086b-4f45-8d66-6cc9fdc02236.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-99754e72-086b-4f45-8d66-6cc9fdc02236.png' | file_img_url: 'master' }} 1440w" width="585" height="774" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:585/774;--aspect-tablet:585/774;--aspect-mobile:585/774;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-99754e72-086b-4f45-8d66-6cc9fdc02236.png" | file_url }}" data-srcset="{{ '505533768308622442-99754e72-086b-4f45-8d66-6cc9fdc02236.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-99754e72-086b-4f45-8d66-6cc9fdc02236.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-99754e72-086b-4f45-8d66-6cc9fdc02236.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="585" height="774" alt="Alt image"
      sizes="100vw"
      style="--aspect:585/774;--aspect-tablet:585/774;--aspect-mobile:585/774;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gXMaM8HEC-"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--bblr:32px;--bbrr:32px;--btlr:32px;--btrr:32px;--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EDBDDA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXMaM8HEC- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g8SdZ51CW_ gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gfYxAgC9Bc"
        style="--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfYxAgC9Bc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gL_ulQZ3W3 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gkcPLAwqtM "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--mb:42px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:70px;--size-tablet:56px;--size-mobile:30px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;overflow:hidden"
        >How to answer in<br>daily situations</h2>
      </div>
    </div>
      <style
        id="custom-css-gkcPLAwqtM"
      >.gkcPLAwqtM * {
font-family: PPAcma-Black !important;
}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gWk0jgEpL3 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gj9XZfagFB"
    style="--mt:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--shadow:none;--op:100%;--animation:[object Object];--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-c40c066c-32ad-4c83-b1e3-9266074c7fc5.gif" | file_url }}" srcset="{{ '505533768308622442-c40c066c-32ad-4c83-b1e3-9266074c7fc5.gif' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-c40c066c-32ad-4c83-b1e3-9266074c7fc5.gif' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-c40c066c-32ad-4c83-b1e3-9266074c7fc5.gif' | file_img_url: 'master' }} 1440w" width="400" height="400" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:400/400;--aspect-tablet:400/400;--aspect-mobile:400/400;--objf:cover;--w:200px;--w-tablet:200px;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-c40c066c-32ad-4c83-b1e3-9266074c7fc5.gif" | file_url }}" data-srcset="{{ '505533768308622442-c40c066c-32ad-4c83-b1e3-9266074c7fc5.gif' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-c40c066c-32ad-4c83-b1e3-9266074c7fc5.gif' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-c40c066c-32ad-4c83-b1e3-9266074c7fc5.gif' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="400" height="400" alt="Alt image"
      sizes="100vw"
      style="--aspect:400/400;--aspect-tablet:400/400;--aspect-mobile:400/400;--objf:cover;--w:200px;--w-tablet:200px;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 0",
      "tag": "section",
      "class": "gps-509750302136599354 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/22a886-0f/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=509590835017286829&sectionId=509750302136599354)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
