
  <style> @import url('https://fonts.googleapis.com/css?family=Acme:400|Farro:400,700&display=swap'); </style>
  <style> .gps-509752581942149946 .gp-relative{position:relative}.gps-509752581942149946 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509752581942149946 .gp-mb-0{margin-bottom:0}.gps-509752581942149946 .\!gp-inline{display:inline!important}.gps-509752581942149946 .gp-flex{display:flex}.gps-509752581942149946 .gp-grid{display:grid}.gps-509752581942149946 .\!gp-hidden{display:none!important}.gps-509752581942149946 .gp-hidden{display:none}.gps-509752581942149946 .gp-h-full{height:100%}.gps-509752581942149946 .gp-w-full{width:100%}.gps-509752581942149946 .gp-max-w-full{max-width:100%}.gps-509752581942149946 .gp-flex-col{flex-direction:column}.gps-509752581942149946 .gp-gap-y-0{row-gap:0}.gps-509752581942149946 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509752581942149946 .gp-duration-200{transition-duration:.2s}.gps-509752581942149946 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-509752581942149946 .tablet\:\!gp-hidden{display:none!important}.gps-509752581942149946 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509752581942149946 .mobile\:\!gp-hidden{display:none!important}.gps-509752581942149946 .mobile\:gp-hidden{display:none}}.gps-509752581942149946 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-509752581942149946 .\[\&_p\]\:gp-inline p{display:inline}.gps-509752581942149946 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-509752581942149946 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gKvQnMFJXm"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-s);--pl:var(--g-s-l);--pb:var(--g-s-s);--pr:var(--g-s-l);--pt-mobile:var(--g-s-s);--pl-mobile:var(--g-s-s);--pb-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--pt-tablet:8px;--pl-tablet:var(--g-s-l);--pb-tablet:8px;--pr-tablet:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#281B3C;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKvQnMFJXm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghHkTOZIPX gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gNvpHKN2Sy"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--pt:var(--g-s-4xl);--pl:var(--g-s-3xl);--pb:100px;--pr:var(--g-s-3xl);--mb-mobile:0px;--pt-mobile:60px;--pl-mobile:var(--g-s-3xl);--pb-mobile:var(--g-s-4xl);--pr-mobile:var(--g-s-3xl);--mb-tablet:0px;--pt-tablet:60px;--pl-tablet:var(--g-s-3xl);--pb-tablet:80px;--pr-tablet:var(--g-s-3xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EDBDDA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNvpHKN2Sy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghn998wTMp gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gYkxA9Iacz "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--mb:var(--g-s-3xl);--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:70px;--size-tablet:56px;--size-mobile:40px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;overflow:hidden"
        >You will get</h2>
      </div>
    </div>
      <style
        id="custom-css-gYkxA9Iacz"
      >.gYkxA9Iacz * {
font-family: PPAcma-Black !important;
}</style>
    
      
      
    <div
      parentTag="Col" id="g0MHF6LDBC"
        style="--mb:var(--g-s-xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:24px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0MHF6LDBC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gJlKILzUgn gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gVBfYh3eLD"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVBfYh3eLD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQpGAPmctX gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gMFzmyy5Tr"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-cef17602-2d6c-485f-ad7f-81e568dfb732.png" | file_url }}" srcset="{{ '505533768308622442-cef17602-2d6c-485f-ad7f-81e568dfb732.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-cef17602-2d6c-485f-ad7f-81e568dfb732.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-cef17602-2d6c-485f-ad7f-81e568dfb732.png' | file_img_url: 'master' }} 1440w" width="102" height="102" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-cef17602-2d6c-485f-ad7f-81e568dfb732.png" | file_url }}" data-srcset="{{ '505533768308622442-cef17602-2d6c-485f-ad7f-81e568dfb732.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-cef17602-2d6c-485f-ad7f-81e568dfb732.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-cef17602-2d6c-485f-ad7f-81e568dfb732.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="102" height="102" alt="Alt image"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="gppTsRnaYt "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:17px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:20px;--size-tablet:18px;--size-mobile:20px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        ><p>A warm welcome to an exclusive live session with Miss English Teacher</p></div>
      </div>
    </div>
      <style
        id="custom-css-gppTsRnaYt"
      >.gppTsRnaYt {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gVBfYh3eLD"
      >.gVBfYh3eLD {

    transform: rotate(0deg);
}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g6a-xXXa7q gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gI9V0YBxKR"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gI9V0YBxKR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="geuhsC08k8 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gxBfq3leDx"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-f08c3b41-7b90-48c1-bd66-8562f63b0a38.png" | file_url }}" srcset="{{ '505533768308622442-f08c3b41-7b90-48c1-bd66-8562f63b0a38.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-f08c3b41-7b90-48c1-bd66-8562f63b0a38.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-f08c3b41-7b90-48c1-bd66-8562f63b0a38.png' | file_img_url: 'master' }} 1440w" width="102" height="102" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-f08c3b41-7b90-48c1-bd66-8562f63b0a38.png" | file_url }}" data-srcset="{{ '505533768308622442-f08c3b41-7b90-48c1-bd66-8562f63b0a38.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-f08c3b41-7b90-48c1-bd66-8562f63b0a38.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-f08c3b41-7b90-48c1-bd66-8562f63b0a38.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="102" height="102" alt="Alt image"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="gP-2NoznVt "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:17px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:20px;--size-tablet:18px;--size-mobile:24px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        ><p>2 video messages from Miss English Teacher every day</p></div>
      </div>
    </div>
      <style
        id="custom-css-gP-2NoznVt"
      >.gP-2NoznVt {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gI9V0YBxKR"
      >.gI9V0YBxKR {

    transform: rotate(-1deg);
}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gvnMK4SUw- gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g2JoGwu4l9"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2JoGwu4l9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcWWdm_ylG gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gxDVQ5n2tV"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-805d064f-701f-4e14-b2a1-7eacdd89a951.png" | file_url }}" srcset="{{ '505533768308622442-805d064f-701f-4e14-b2a1-7eacdd89a951.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-805d064f-701f-4e14-b2a1-7eacdd89a951.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-805d064f-701f-4e14-b2a1-7eacdd89a951.png' | file_img_url: 'master' }} 1440w" width="102" height="102" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-805d064f-701f-4e14-b2a1-7eacdd89a951.png" | file_url }}" data-srcset="{{ '505533768308622442-805d064f-701f-4e14-b2a1-7eacdd89a951.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-805d064f-701f-4e14-b2a1-7eacdd89a951.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-805d064f-701f-4e14-b2a1-7eacdd89a951.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="102" height="102" alt="Alt image"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="gCdFTu8L08 "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:17px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:20px;--size-tablet:18px;--size-mobile:20px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        ><p>6 topics to enhance your private conversations</p></div>
      </div>
    </div>
      <style
        id="custom-css-gCdFTu8L08"
      >.gCdFTu8L08 {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-g2JoGwu4l9"
      >.g2JoGwu4l9 {

    transform: rotate(0deg);
}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gIXvew_6lu gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g0KpTC-kqY"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0KpTC-kqY gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gIRR80qfby gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gBE0ef9HEF"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-cecfb9ae-b442-4186-848b-d727c87a8467.png" | file_url }}" srcset="{{ '505533768308622442-cecfb9ae-b442-4186-848b-d727c87a8467.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-cecfb9ae-b442-4186-848b-d727c87a8467.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-cecfb9ae-b442-4186-848b-d727c87a8467.png' | file_img_url: 'master' }} 1440w" width="102" height="102" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-cecfb9ae-b442-4186-848b-d727c87a8467.png" | file_url }}" data-srcset="{{ '505533768308622442-cecfb9ae-b442-4186-848b-d727c87a8467.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-cecfb9ae-b442-4186-848b-d727c87a8467.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-cecfb9ae-b442-4186-848b-d727c87a8467.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="102" height="102" alt="Alt image"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="gwHnsfRy3S "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:17px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:20px;--size-tablet:18px;--size-mobile:20px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        ><p>Daily vocabulary for each topic</p></div>
      </div>
    </div>
      <style
        id="custom-css-gwHnsfRy3S"
      >.gwHnsfRy3S {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-g0KpTC-kqY"
      >.g0KpTC-kqY {

    transform: rotate(0deg);
}</style>
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gpJaHSHvPt"
        style="--mb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:24px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gpJaHSHvPt gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g3hsN6qekL gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g-tM5wyBRw"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-tM5wyBRw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKeDEWp3tn gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gtzCgjynzh"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-d7fda91c-a01d-4fcf-9f59-faf2a628a8f9.png" | file_url }}" srcset="{{ '505533768308622442-d7fda91c-a01d-4fcf-9f59-faf2a628a8f9.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-d7fda91c-a01d-4fcf-9f59-faf2a628a8f9.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-d7fda91c-a01d-4fcf-9f59-faf2a628a8f9.png' | file_img_url: 'master' }} 1440w" width="102" height="102" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-d7fda91c-a01d-4fcf-9f59-faf2a628a8f9.png" | file_url }}" data-srcset="{{ '505533768308622442-d7fda91c-a01d-4fcf-9f59-faf2a628a8f9.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-d7fda91c-a01d-4fcf-9f59-faf2a628a8f9.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-d7fda91c-a01d-4fcf-9f59-faf2a628a8f9.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="102" height="102" alt="Alt image"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="guSS1xPSf5 "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:17px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:20px;--size-tablet:18px;--size-mobile:20px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        ><p>6 engaging practice activities that our brilliant tutors check</p></div>
      </div>
    </div>
      <style
        id="custom-css-guSS1xPSf5"
      >.guSS1xPSf5 {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-g-tM5wyBRw"
      >.g-tM5wyBRw {

    transform: rotate(0deg);
}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gqHr8j15BW gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gqeGfUflaG"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqeGfUflaG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gN28mCpuF2 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gMsGDFavbV"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-f962507a-ff0b-45f2-a928-307250902749.png" | file_url }}" srcset="{{ '505533768308622442-f962507a-ff0b-45f2-a928-307250902749.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-f962507a-ff0b-45f2-a928-307250902749.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-f962507a-ff0b-45f2-a928-307250902749.png' | file_img_url: 'master' }} 1440w" width="102" height="102" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-f962507a-ff0b-45f2-a928-307250902749.png" | file_url }}" data-srcset="{{ '505533768308622442-f962507a-ff0b-45f2-a928-307250902749.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-f962507a-ff0b-45f2-a928-307250902749.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-f962507a-ff0b-45f2-a928-307250902749.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="102" height="102" alt="Alt image"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="gSSGkEeBl7 "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:17px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:20px;--size-tablet:18px;--size-mobile:24px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        ><p>Graduation event with a speaking session + a chance to speak with me</p></div>
      </div>
    </div>
      <style
        id="custom-css-gSSGkEeBl7"
      >.gSSGkEeBl7 {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gqeGfUflaG"
      >.gqeGfUflaG {

    transform: rotate(-1deg);
}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gPatP1lQa8 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gbofHcE4QU"
    style="--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png" | file_url }}" srcset="{{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: 'master' }} 1440w" width="297" height="297" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:297/297;--aspect-tablet:297/297;--aspect-mobile:297/297;--objf:cover;--w:200px;--w-tablet:200px;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png" | file_url }}" data-srcset="{{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-36f8bb13-6e6f-492b-ad99-4ce66dac2e71.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="297" height="297" alt="Alt image"
      sizes="100vw"
      style="--aspect:297/297;--aspect-tablet:297/297;--aspect-mobile:297/297;--objf:cover;--w:200px;--w-tablet:200px;--w-mobile:200px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gSLynQwtLW gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gU5jVZaIws"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-2xl);--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--mr-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gU5jVZaIws gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="grb8kCQPk9 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g04Hmb7JFh"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "505533768308622442-f962507a-ff0b-45f2-a928-307250902749.png" | file_url }}" srcset="{{ '505533768308622442-f962507a-ff0b-45f2-a928-307250902749.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-f962507a-ff0b-45f2-a928-307250902749.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-f962507a-ff0b-45f2-a928-307250902749.png' | file_img_url: 'master' }} 1440w" width="102" height="102" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "505533768308622442-f962507a-ff0b-45f2-a928-307250902749.png" | file_url }}" data-srcset="{{ '505533768308622442-f962507a-ff0b-45f2-a928-307250902749.png' | file_img_url: '768x768' }} 768w, {{ '505533768308622442-f962507a-ff0b-45f2-a928-307250902749.png' | file_img_url: '1024x1024' }} 1024w, {{ '505533768308622442-f962507a-ff0b-45f2-a928-307250902749.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="102" height="102" alt="Alt image"
      sizes="100vw"
      style="--aspect:102/102;--aspect-tablet:102/102;--aspect-mobile:102/102;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="gsmERxW2Js "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:17px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:20px;--size-tablet:18px;--size-mobile:20px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        ><p>1 month of free access to my new app</p></div>
      </div>
    </div>
      <style
        id="custom-css-gsmERxW2Js"
      >.gsmERxW2Js {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gU5jVZaIws"
      >.gU5jVZaIws {

    transform: rotate(0deg);
}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 0",
      "tag": "section",
      "class": "gps-509752581942149946 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/22a886-0f/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=509590835017286829&sectionId=509752581942149946)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
